body{
    background: lightgrey;
}

.container{
    padding-top: 30px;
    padding-bottom: 30px;
    /* background: cadetblue; */
    width: 80%;
    margin-left:10%;
}

.padd{
    padding: 20px;
}

.article{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: white;
    margin-top:20px;
    border-radius: 10px;
}

.padd-article{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.news-img{
    display: flex;
    width: 25%;
    height: 200px;
    /* background: crimson; */
}

.news-detail{
    height: 200px;
    width: 70%;
    /* background: yellow; */
    font-family: 'Segoe UI';
    padding-left: 20px;
    padding-top: 20px;
    /* box-shadow: 0 0 2px gray; */
}

.news-img>img{
    width: 100%;
}

h2,p{
    margin: 0px;
}

p:nth-child(2){
    margin-bottom: 15px;
    font-size: 20px;
    color: grey;
    font-weight: bold;
}

p:nth-child(3){
    color: gray;
    margin-bottom: 20px;
}

.btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI';
    border: none;
    color: white;
    background: #1279e4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.filter{
    
    width: 100%;
    /* background: red; */
}

input {
    height: 40px;
    width: 100%;
    font-size: 18px;
    text-indent: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
}